In [1]:
import pandas as pd
import numpy as np

In [2]:
# Display the help document
pd?

In [3]:
# Print the version of pandas
pd.__version__

'1.2.4'

In [5]:
"""

    Pandas Objects: Series
"""
# Create a series form an array

ser = pd.Series([0.25, 0.5, 0.75, 1.0]) # contructor method
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
# Two main attributes: 'values' and 'index'

arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [7]:
# Label - based Indexing
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
"""
Dictionary and Series
"""

dict = {'a' : 1, 2: 'two', 'third' : True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [15]:
"""
Create a series from a dictionary
"""

population_dict = {'California' : 38332521,
                  'Texas' : 264484193,
                  'New York' : 19651127,
                  'Florida' : 19552860,
                  'Illinois' : 12882135}
population = pd.Series(population_dict)
print(population)

print(population['Texas' : 'Illinois'])

California     38332521
Texas         264484193
New York       19651127
Florida        19552860
Illinois       12882135
dtype: int64
Texas       264484193
New York     19651127
Florida      19552860
Illinois     12882135
dtype: int64

In [18]:
"""
        Pandas objects : DataFrame
"""

area_dict = {'California' : 423967,'Texas' : 695662,'New York' : 141297,
            'Florida' : 170312,'Illinois' : 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [23]:
# Construct a DataFrame containing 'population' and 'area' Series

states = pd.DataFrame({'population': population, 'area':area})
print(states)

print(states.index)
print(states.columns)
print(states['area'])

            population    area
California    38332521  423967
Texas        264484193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [24]:
# Construct a DataFrame from a 2D Numpy array
arr = np.random.rand(3, 2)
print(arr, '|n')

pd.DataFrame(arr, columns = ['foo', 'bar'], index=['a', 'b', 'c'])

[[0.30107553 0.52639594]
 [0.70719426 0.92352613]
 [0.59141862 0.79921576]] |n

        foo       bar
a  0.301076  0.526396
b  0.707194  0.923526
c  0.591419  0.799216

In [28]:
"""
Series object manipulation: dictinoary-style
"""
ser = pd.Series([0.25, 0.5, 0.75, 1.0], 
                index = ['a', 'b', 'c', 'd'])

print(0.25 in ser)
print(ser.index)

False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [30]:
"""
Series object manipulation: array-style
"""

ser['e'] = 1.25
ser['a'] = 0.125
print(ser, '|n')

print(ser['a':'c'],'|n') #slicing

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64 |n
a    0.125
b    0.500
c    0.750
dtype: float64 |n

In [32]:
"""
Caution: Slicing Series object using explicit/implicit indexing
"""



states['density'] =states['population'] / states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas        264484193  695662  380.190657
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [ ]:
"""
DataFrame object manipulation
"""

In [34]:
# Indexer: loc, iloc, ix

print(states)

states.loc['New York': 'Illinois']

            population    area     density
California    38332521  423967   90.413926
Texas        264484193  695662  380.190657
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121
Illinois    12882135  149995   85.883763

In [ ]:
"""
    DataFrame as two-dimensional array
"""

In [35]:
# Masking and fancy indexinf using the loc indexer
print(states.loc[states.density > 100, ['population', 'density']], '|n')

          population     density
Texas      264484193  380.190657
New York    19651127  139.076746
Florida     19552860  114.806121 |n