In [1]:
import pandas as pd
import numpy as np
from pandas import datetime
from matplotlib import pyplot as plt
"""
Load AirQualityUCI Data
"""

def parser(x):
    return datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

input_file = './data/AirQualityUCI_refined.csv'

df = pd.read_csv(input_file,
                 index_col=[0],
                 parse_dates=[0],
                 date_parser=parser)

df.head()

<ipython-input-1-0c95b2fc7292>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [2]:
# Visualization setup
%matplotlib
%config InlineBackend.figure_format = 'svg'

from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = [10, 5]
plt.ion() # enable the interactive mode

import seaborn as sns
sns.set()  # set plot styles

FileNotFoundError: [Errno 2] No such file or directory: './data/AirQualityUCI_refined.csv'

In [3]:
# Interpolate the 'CO(GT)' column
cp =df['CO(GT)'].copy()
co.interpolate(inplace=True)

NameError: name 'df' is not defined

In [4]:
"""
Binning
"""

max_val = df['CO(GT)'].max()
min_val = df['CO(GT)'].min()
print(max_val, min_val)

NameError: name 'df' is not defined

In [5]:
# Make interval values
bins = np.linspace(min_val, max_val, 6)
bins

NameError: name 'min_val' is not defined

In [6]:
# Labels for each bin
labels=['0 <=x<2.38', '2.38<=x<4.76', '4.76<=x<7.14',
       '7.14<=x<9.52', '9.52<=x<11.9']

In [7]:
# Convert the numerical values into the categorical values
df['bins'] = pd.cut(df['CO(GT)'], bins=bins,labels=labels, include_lowest=True)
df.info()

NameError: name 'df' is not defined

In [8]:
# Print bins
df['bins']

NameError: name 'df' is not defined

In [9]:
# Visualize the histogram of bins
plt.hist(df['bins'], bins=5)
plt.show()

NameError: name 'df' is not defined

In [10]:
"""
Log Transform
"""

# Distribution of original data
sns.distplot(df['PT08.S3(NOx)'])

NameError: name 'sns' is not defined

In [11]:
# Calculate natural logarithm on 'CO(GT)' column
df['log'] = np.log10(df['PT08.S3(NOx)'])

NameError: name 'df' is not defined

In [12]:
# Min values for each column
df.['log']

SyntaxError: invalid syntax (<ipython-input-12-4ec0f171dd78>, line 2)

In [13]:
# Distribution after log transform
sns.distplot(df['log'])
plt.xlabel('log(PT08.S3(NoX))')
plt.show()

NameError: name 'sns' is not defined

In [14]:
"""
One-hot Encoding
"""

# Make a dataset

emp_id = pd.Series([1, 2, 3, 4, 5])
gender = pd.Series(['Male', 'Female', 'Female', 'Male', 'Female'])
remarks = pd.Series(['Nice', 'Good', 'Great', 'Great', 'Nice'])

df_emp = pd.DataFrame()
df_emp['emp_id'] = emp_id
df_emp['gender'] = gender
df_emp['remarks'] = remarks

df_emp

   emp_id  gender remarks
0       1    Male    Nice
1       2  Female    Good
2       3  Female   Great
3       4    Male   Great
4       5  Female    Nice

In [15]:
# Print unique values for each column
print(df_emp['gender'].unique())
print(df_emp['remarks'].unique())

['Male' 'Female']
['Nice' 'Good' 'Great']

In [16]:
# One-hot encoding the categorial values
df_emp_encoded = pd.get_dummies(df_emp, columns = ['gender', 'remarks'])
df_emp_encoded

,emp_id,gender_Female,gender_Male,remarks_Good,remarks_Great,remarks_Nice
0,1,0,1,0,0,1
1,2,1,0,1,0,0
2,3,1,0,0,1,0
3,4,0,1,0,1,0
4,5,1,0,0,0,1

In [17]:
"""
Normalization
"""

# Visualize two columns of different scales
plt.plot(df['CO(GT)'], label='CO')
plt.plot(df['PT08.S2(NMHC)'], label='NMHC')
plt.legend(loc='best')

NameError: name 'df' is not defined

In [18]:
# Normalize the 'CO(GT)' column
co = df['CO(GT)'].copy()
co_max = co.max()
co_min = co.min()

df['CO_Norm'] = (co - co_min) / (co_max - co_min)
df['CO_Norm']

NameError: name 'df' is not defined

In [19]:
# Normalize the 'PT08.S2(NMHC)' column
nmhc = df['PT08.S2(NMHC)'].copy()
nmhc_max = nmhc.max()
nmhc_min = nmhc.min()

df['NMHC_Norm'] = (nmhc - nmhc_min) / (nmhc_max - nmhc_min)
df['NMHC_Norm']

NameError: name 'df' is not defined

In [20]:
# Visualized normalized columns
plt.plot(df['CO_Norm'], label='CO (normalized)')
plt.plot(df['NMHC_Norm'], label='NMHC (normalized)')
plt.legend(loc='best')

NameError: name 'df' is not defined

In [21]:
# Make untidy movie data
movies = pd.Series(["The Godfather, 1972, Francis Ford Coppola",
                    "Contact, 1997, Robert Zemeckis",
                   "Parasite, 2019, Joon-ho Bong"])

movies

0    The Godfather, 1972, Francis Ford Coppola
1               Contact, 1997, Robert Zemeckis
2                 Parasite, 2019, Joon-ho Bong
dtype: object

In [22]:
# Divide movie data into title, year, director columns

lst_title = []
lst_year = []
lst_director = []

for val in movies:
    title, year, director = val.split(',')  # data split
    lst_title.append(title)
    lst_year.append(year)
    lst_director.append(director)

print(lst_title)
print(lst_year)
print(lst_director)

['The Godfather', 'Contact', 'Parasite']
[' 1972', ' 1997', ' 2019']
[' Francis Ford Coppola', ' Robert Zemeckis', ' Joon-ho Bong']

In [23]:
# Make a DataFrame object
df_movie = pd.DataFrame()
df_movie['title'] = lst_title
df_movie['year'] = lst_year
df_movie['director'] = lst_director

df_movie

           title   year               director
0  The Godfather   1972   Francis Ford Coppola
1        Contact   1997        Robert Zemeckis
2       Parasite   2019           Joon-ho Bong